.contact{
    position: relative;
    top: 40vh;
    text-align: center;
    line-height: 2;
    font-size: 1rem;
}
@media screen and (max-width: 480px) {
    .contact{
        top: 6vh;  
    } 
}